name: Java CI with Gradle

on:
  push:
    branches: [ feature_github-actions-example ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install GraalVM for Java 11
        uses: ayltai/setup-graalvm@v1
        with:
          java-version: 11
          graalvm-version: 20.1.0
          native-image: true
      - name: Show java version
        run: java -version
      - name: Build native executable
        run: ./gradlew build -Dquarkus.package.type=native -Dquarkus.native.container-build=true
      #- name: Build docker image
      #  run: docker build -t docker.pkg.github.com/lhaidacher/search-service/search-service:${GITHUB_SHA::8} .
      - name: Login to docker.pkg.github.com
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          registry: docker.pkg.github.com
          repository: lhaidacher/search-service/search-service
          tag_with_sha: true
      #- name: Publish Docker image
      #  run: docker push $REGISTRY/$IMAGE_NAME:$TAG
      #  env:
      #    REGISTRY: docker.pkg.github.com
      #    IMAGE_NAME: lhaidacher/search-service/search-service
      #    TAG: ${GITHUB_SHA::8}
