name: Java CI with Gradle

on:
  push:
    branches: [ feature_github-actions-example ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      #- name: Install required libs
      #  run: sudo apt-get install build-essential libz-dev zlib1g-dev
      - name: Install GraalVM
        uses: ayltai/setup-graalvm@v1
        with:
          java-version: 11
          graalvm-version: 20.1.0
          native-image: true
      - name: Build native executable
        run: ./gradlew build -Dquarkus.package.type=native
      #- name: Build docker image
      #  run: docker build -t docker.pkg.github.com/lhaidacher/search-service/search-service:${GITHUB_SHA::8} .
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: lhaidacher/search-service/search-service
          tag_with_sha: true
      #- name: Publish Docker image
      #  run: docker push $REGISTRY/$IMAGE_NAME:$TAG
      #  env:
      #    REGISTRY: docker.pkg.github.com
      #    IMAGE_NAME: lhaidacher/search-service/search-service
      #    TAG: ${GITHUB_SHA::8}
